{
  "name": "Style-guide",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "assets/sass/main.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "assets/sass/resets.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "assets/sass/styleguide.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "assets/js/main.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"assets/js/main.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "assets/js/app.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":true,\"customOutput\":\"assets/js/app.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "assets/sass/app.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "assets/source/js/app.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"assets/js/app.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "assets/source/sass/styleguide.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"assets/css/styleguide.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "assets/source/sass/app.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"assets/css/app.min.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "assets/sass",
      "assets",
      "assets/js",
      "assets/source",
      "assets/source/js",
      "assets/source/sass"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/source/js/app.js",
      "imports": [
        "assets/source/js/_recharge-app.js",
        "assets/source/js/_selects.js",
        "assets/source/js/_countUp.js",
        "assets/source/js/_rc_core.js",
        "assets/source/js/_rc_validation.js"
      ]
    },
    {
      "path": "assets/source/sass/_homepage.scss",
      "imports": [
        "assets/source/sass/homepage/_shared.scss",
        "assets/source/sass/homepage/_backgrounds.scss",
        "assets/source/sass/homepage/_overview.scss",
        "assets/source/sass/homepage/_hero.scss",
        "assets/source/sass/homepage/_brands.scss",
        "assets/source/sass/homepage/_merchants.scss",
        "assets/source/sass/homepage/_customers.scss",
        "assets/source/sass/homepage/_developers.scss",
        "assets/source/sass/homepage/_integrations.scss",
        "assets/source/sass/homepage/_final.scss"
      ]
    },
    {
      "path": "assets/source/sass/_inputs.scss",
      "imports": [
        "assets/source/sass/inputs/_label.scss",
        "assets/source/sass/inputs/_text.scss",
        "assets/source/sass/inputs/_checkbox.scss",
        "assets/source/sass/inputs/_radio.scss",
        "assets/source/sass/inputs/_select.scss",
        "assets/source/sass/inputs/_number.scss"
      ]
    },
    {
      "path": "assets/source/sass/app.scss",
      "imports": [
        "assets/source/sass/_variables.scss",
        "assets/source/sass/_mixins.scss",
        "assets/source/sass/_normalize.scss",
        "assets/source/sass/_fontawesome.scss",
        "assets/source/sass/_general.scss",
        "assets/source/sass/_typography.scss",
        "assets/source/sass/_visuals.scss",
        "assets/source/sass/_colors.scss",
        "assets/source/sass/components/_buttons.scss",
        "assets/source/sass/components/_dropdowns.scss",
        "assets/source/sass/components/_forms.scss",
        "assets/source/sass/components/_grid.scss",
        "assets/source/sass/components/_lists.scss",
        "assets/source/sass/inputs/_label.scss",
        "assets/source/sass/inputs/_text.scss",
        "assets/source/sass/inputs/_checkbox.scss",
        "assets/source/sass/inputs/_radio.scss",
        "assets/source/sass/inputs/_select.scss",
        "assets/source/sass/inputs/_number.scss",
        "assets/source/sass/layout/_navbar.scss",
        "assets/source/sass/layout/_footer.scss",
        "assets/source/sass/_utilities.scss",
        "assets/source/sass/pages/_homepage.scss",
        "assets/source/sass/fontawesome/_variables.scss",
        "assets/source/sass/fontawesome/_mixins.scss",
        "assets/source/sass/fontawesome/_path.scss",
        "assets/source/sass/fontawesome/_core.scss",
        "assets/source/sass/fontawesome/_larger.scss",
        "assets/source/sass/fontawesome/_fixed-width.scss",
        "assets/source/sass/fontawesome/_list.scss",
        "assets/source/sass/fontawesome/_bordered-pulled.scss",
        "assets/source/sass/fontawesome/_animated.scss",
        "assets/source/sass/fontawesome/_rotated-flipped.scss",
        "assets/source/sass/fontawesome/_stacked.scss",
        "assets/source/sass/fontawesome/_icons.scss",
        "assets/source/sass/fontawesome/_screen-reader.scss",
        "assets/source/sass/fontawesome/_buttons.scss",
        "assets/source/sass/pages/homepage/_shared.scss",
        "assets/source/sass/pages/homepage/_backgrounds.scss",
        "assets/source/sass/pages/homepage/_overview.scss",
        "assets/source/sass/pages/homepage/_hero.scss",
        "assets/source/sass/pages/homepage/_brands.scss",
        "assets/source/sass/pages/homepage/_merchants.scss",
        "assets/source/sass/pages/homepage/_customers.scss",
        "assets/source/sass/pages/homepage/_developers.scss",
        "assets/source/sass/pages/homepage/_integrations.scss",
        "assets/source/sass/pages/homepage/_final.scss"
      ]
    },
    {
      "path": "assets/source/sass/fontawesome.scss",
      "imports": [
        "assets/source/sass/fontawesome/_variables.scss",
        "assets/source/sass/fontawesome/_mixins.scss",
        "assets/source/sass/fontawesome/_path.scss",
        "assets/source/sass/fontawesome/_core.scss",
        "assets/source/sass/fontawesome/_larger.scss",
        "assets/source/sass/fontawesome/_fixed-width.scss",
        "assets/source/sass/fontawesome/_list.scss",
        "assets/source/sass/fontawesome/_bordered-pulled.scss",
        "assets/source/sass/fontawesome/_animated.scss",
        "assets/source/sass/fontawesome/_rotated-flipped.scss",
        "assets/source/sass/fontawesome/_stacked.scss",
        "assets/source/sass/fontawesome/_icons.scss",
        "assets/source/sass/fontawesome/_screen-reader.scss",
        "assets/source/sass/fontawesome/_buttons.scss"
      ]
    },
    {
      "path": "assets/source/sass/styleguide.scss",
      "imports": [
        "assets/source/sass/_variables.scss",
        "assets/source/sass/_mixins.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7881,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://rechargepayments.dev"
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": false,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}