.rc_button {
	-webkit-appearance: none;
	transition: all 0.5s ease;
	font-family: 'raleway';
	padding: $button-padding;
	font-size: $font-size-base;
	font-weight: $font-semibold;
	border: 0;
	cursor: pointer;
	color: $button-primary-color;

	&_primary {
		background-color: $button-primary-bg-color;
		box-shadow: 0 4px 8px 0 rgba(83, 186, 211, 0.40);

		&:hover {
			color: $button-primary-hover-color;
			transform: translateY(-1px);
			background-color: $button-primary-bg-hover-color;
			box-shadow: 0 6px 20px 0 rgba(83, 186, 211, 0.60);
		}
	}

	&_secondary {
		color: $button-secondary-color;
		background-color: $button-secondary-bg-color;
		border: 1px solid $color-blue;

		&:hover {
			color: $button-secondary-hover-color;
			background-color: $button-secondary-bg-hover-color;
		}

		&_reverse {
			color: $button-secondary-reverse-color;
			background-color: $button-secondary-reverse-bg-color;
		    box-shadow:inset 0px 0px 0px 1px $color-white;

			&:hover {
				color: $button-secondary-reverse-hover-color;
				background-color: $button-secondary-reverse-bg-hover-color;
			}
		}
	}

	&_large {
		padding: 24px 54px;
		min-width: 203px;
	}

	&_small {
		font-size: $font-size-small;
		padding: 10px 36px;
		box-shadow: none;
	}

	&:disabled {
		color: $button-color-disabled;
		background-color: $button-bg-disabled;
		box-shadow: none;
		cursor: inherit;
	}
}

.rc_button {
	&--magenta {
		background-color: $color-magenta;
		&:hover {
			background-color: darken($color-magenta, 5%);
		}
	}
}