
.color_rc{

	&_blue{ color: $rc_blue; }
	&_white{ color: $rc_white; }
	&_green{ color: $rc_green; }
	&_black{ color: $rc_black; }
	&_grey_dark{ color: $rc_grey_dark; }
	&_grey{ color: $rc_grey; }
	&_grey_medium{ color: $rc_grey_medium; }
	&_grey_light{ color: $rc_grey_light; }
	&_grey_silver{ color: $rc_grey_silver; }
	&_green_bright{ color: $rc_green_bright; }
	&_green_pale{ color: $rc_green_pale; }
	&_turquoise{ color: $rc_turquoise; }
	&_blue_dark{ color: $rc_blue_dark; }
	&_magenta{ color: $rc_magenta; }
	&_magenta_hover{ color: $rc_magenta_hover; }
	&_yellow{ color: $rc_yellow; }
	&_orange{ color: $rc_orange; }
	&_red{ color: $rc_red; }
	&_pink{ color: $rc_pink; }
}

.bg_rc{

	&_blue{ background-color: $rc_blue; }
	&_white{background-color: $rc_white; }
	&_green{ background-color: $rc_green; }
	&_black{ background-color: $rc_black; }
	&_grey_dark{ background-color: $rc_grey_dark; }
	&_grey{ background-color: $rc_grey; }
	&_grey_medium{ background-color: $rc_grey_medium; }
	&_grey_light{ background-color: $rc_grey_light; }
	&_grey_silver{ background-color: $rc_grey_silver; }
	&_green_bright{ background-color: $rc_green_bright; }
	&_green_pale{ background-color: $rc_green_pale; }
	&_turquoise{ background-color: $rc_turquoise; }
	&_blue_dark{ background-color: $rc_blue_dark; }
	&_magenta{ background-color: $rc_magenta; }
	&_magenta_hover{ background-color: $rc_magenta_hover; }
	&_yellow{ background-color: $rc_yellow; }
	&_orange{ background-color: $rc_orange; }
	&_red{ background-color: $rc_red; }
	&_pink{ background-color: $rc_pink; }

	&_blue,
	&_green,
	&_black,
	&_grey_dark,
	&_grey,
	&_grey_medium,
	&_grey_light,
	&_grey_silver,
	&_green_bright,
	&_green_pale,
	&_turquoise,
	&_blue_dark,
	&_magenta,
	&_magenta_hover,
	&_yellow,
	&_orange,
	&_red,
	&_pink{ 
		color: $rc_white !important; 
	}
}

