.rc_color {
	&_blue { color: $color-blue; }
	&_white { color: $color-white; }
	&_green { color: $color-green; }
	&_black { color: $color-black; }
	&_grey_dark { color: $color-grey-dark; }
	&_grey { color: $color-grey; }
	&_grey_medium { color: $color-grey-medium; }
	&_grey_light { color: $color-grey-light; }
	&_grey_silver { color: $color-grey-silver; }
	&_green_bright { color: $color-green-bright; }
	&_green_pale { color: $color-green-pale; }
	&_turquoise { color: $color-turquoise; }
	&_blue_dark { color: $color-blue-dark; }
	&_magenta { color: $color-magenta; }
	&_magenta_hover { color: $color-magenta-hover; }
	&_yellow { color: $color-yellow; }
	&_orange { color: $color-orange; }
	&_red { color: $color-red; }
	&_pink { color: $color-pink; }
}

.rc_bg {
	&_blue { background-color: $color-blue; }
	&_white {background-color: $color-white; }
	&_green { background-color: $color-green; }
	&_black { background-color: $color-black; }
	&_grey_dark { background-color: $color-grey-dark; }
	&_grey { background-color: $color-grey; }
	&_grey_medium { background-color: $color-grey-medium; }
	&_grey_light { background-color: $color-grey-light; }
	&_grey_silver { background-color: $color-grey-silver; }
	&_green_bright { background-color: $color-green-bright; }
	&_green_pale { background-color: $color-green-pale; }
	&_turquoise { background-color: $color-turquoise; }
	&_blue_dark { background-color: $color-blue-dark; }
	&_magenta { background-color: $color-magenta; }
	&_magenta_hover { background-color: $color-magenta-hover; }
	&_yellow { background-color: $color-yellow; }
	&_orange { background-color: $color-orange; }
	&_red { background-color: $color-red; }
	&_pink { background-color: $color-pink; }

	&_blue,
	&_green,
	&_black,
	&_grey_dark,
	&_grey,
	&_grey_medium,
	&_grey_light,
	&_green_bright,
	&_green_pale,
	&_turquoise,
	&_blue_dark,
	&_magenta,
	&_magenta_hover,
	&_yellow,
	&_orange,
	&_red,
	&_pink {
		color: $color-white;

		& a,
		& p,
		& span,
		& label {
			color: $color-white;
		}
	}
	&_white,
	&_grey_silver {
		color: $color-grey-medium;

		& a,
		& p,
		& span,
		& label {
			color: $color-grey-medium;
		}
	}
}
