.rc_dropdown {
	position: relative;
	display: inline-block;

	@media screen and (max-width: $screen-md-max) {
		width: 100%;
	}
}

.rc_dropdown__toggle {
	&:after {
		margin-left: 11px;
		font-family: FontAwesome;
		content: "\f107";
	}
}

.rc_dropdown__toggle {
	&:focus,
	a:focus {
		outline: 0 !important;
	}
}

.rc_dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    display: none;
    padding: 0;
    margin: -5px 0 0 0;

    border-radius: 6px;

    background-clip: padding-box;

    background-color: #FFF;

	box-shadow: 0 5px 45px 0 rgba(0, 0, 0, .18);

	@media screen and (max-width: $screen-md-max) {
		width: 100%;
	}
}

.rc_dropdown .rc_item {
	display: block;
	width: 100%;
	white-space: nowrap;
	clear: both;
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	text-align: left;
	padding-left: 33px;
	padding-right: 33px;
	font-weight: $font-regular;

	&:hover,
	&:focus {
		color: $color-turquoise;
		background-color: #d0ebf3;
	}

	&.rc_active {
		font-weight: $font-semibold;
		color: $color-turquoise;
	}
}

.show {
	> .rc_button.rc_dropdown__toggle {
		color: $color-turquoise;
	}
	> .rc_dropdown__menu {
		display: block;

		&:before {
			content: "";
			border: 14px transparent solid;
			border-bottom-color: #FFF;
			position: absolute;
			bottom: 100%;
			left: 50%;
			margin-left: -19px;
		}
	}
}

// Invisible element - needed to support mobile clicks.
.rc_dropdown__backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 30;
}