.rc{
	&_form{
		width: 100%;
		max-width: 743px;
		background-color: $rc_white;
		margin: 54px 0;

		& fieldset{
			border: none;
			margin: 0;
			padding: 0;
		}

		& form{
			text-align: left;
		}

		&_container{
			padding: 60px;
			text-align: center;
		}

		& .rc_layout div{
			box-sizing: border-box;
		}

		& label{
			letter-spacing: 0;
			max-width: 100%;
			display: block;
		}

		& button{
			&#submit-button{
				margin-top: 40px;
			}
		}

		&_input{
			&::placeholder{
				opacity: 0.6;
				color: $rc_grey;
			}
		}

		&_select{
			width: 100%;
			max-width: $rc_dropdown_width;
			height: $rc_dropdown_height;
			border: 1px solid $rc_grey;
			margin: 10px 0;

			& option{

				&:hover{
					background-color: $rc_dropdown_bg_hover_color;
				}
			}

			&_num{
				max-width: $rc_dropdown_num_width
			}
		}
	}
}

input[type="radio"].rc_form_input{
	margin: 15px 7px 7px;

	&:first-child{
		margin-left: 0;
	}
}

input[type="number"].rc_form_number,
input[type="text"].rc_form_input,
input[type="email"].rc_form_input{
	height: 40px;
	width: 100%;
	padding: 7px 15px 8px;
    box-sizing: border-box;
    margin: 12px 0 30px;
}

input[type="number"].rc_form_number,
input[type="text"].rc_form_input,
input[type="email"].rc_form_input{
	border-width: 1px;
	border-style: solid;
	border-color: $rc_grey;
	&:focus,
	&.rc_form_input--focus {
		border-color: $rc_green;
		outline: none;
		box-shadow: none;
	}
	&.rc_form_input--invalid {
		border-color: $rc_red !important;
	}
}