.rc {
	&_form {
		width: 100%;
		max-width: 743px;
		background-color: $color-white;
		margin: 54px 0;

		&__group {
			margin-bottom: 30px;
		}

		& fieldset {
			border: none;
			margin: 0;
			padding: 0;
		}

		& form {
			text-align: left;
		}

		&_container {
			padding: 60px;
			text-align: center;
		}

		& .rc_layout div {
			box-sizing: border-box;
		}

		& label {
			letter-spacing: 0;
			max-width: 100%;
			display: block;
		}

		& button {
			&#submit-button {
				margin-top: 40px;
			}
		}

		&_input {
			&::placeholder {
				opacity: 0.6;
				color: $color-grey;
			}
		}
	}
}