.rc_layout {
	display: flex;
	flex-wrap: wrap;

	&__container {
		width: 100%;
		max-width: 1170px;
		margin: 0 auto;
		box-sizing: border-box;
	}

	.rc_layout__full,
	.rc_layout__sidebar,
	.rc_layout__content,
	[class^="rc_layout__xs"],
	[class^="rc_layout__sm"],
	[class^="rc_layout__md"],
	[class^="rc_layout__lg"],
	[class^="rc_layout__xl"] {
		min-height: 1px;
	}

	[class^="rc_layout__xs"],
	[class^="rc_layout__sm"],
	[class^="rc_layout__md"],
	[class^="rc_layout__lg"],
	[class^="rc_layout__xl"] {
		padding-left: ($gutter / 2);
		padding-right: ($gutter / 2);
		width: 100%;
	}

	.rc_layout__xs__1 {
		flex-basis: percentage(1 / 12);
		flex-grow: 1;
		max-width: percentage(1 / 12);
	}
	.rc_layout__xs__offset__1 {
		margin-left: percentage(1 / 12);
	}
	@for $i from 2 through 12 {
		.rc_layout__xs__#{$i} {
			flex-basis: percentage($i / 12);
			flex-grow: 1;
			flex-shrink: 0;
			max-width: percentage($i / 12);
		}
		.rc_layout__xs__offset__#{$i} {
			margin-left: percentage($i / 12);
		}
	}
	@media screen and (max-width: $screen-xs-max) {
		.rc_layout__xs__offset__0 {
			margin-left: 0;
		}
	}
	@media screen and (min-width: $screen-sm-min) {
		@for $i from 1 through 12 {
			.rc_layout__sm__#{$i} {
				flex-basis: percentage($i / 12);
				flex-grow: 1;
				flex-shrink: 0;
				max-width: percentage($i / 12);
			}
			.rc_layout__sm__offset__#{$i} {
				margin-left: percentage($i / 12);
			}
		}
		.rc_layout__sm__offset__0 {
			margin-left: 0;
		}
	}
	@media screen and (min-width: $screen-md-min) {
		@for $i from 1 through 12 {
			.rc_layout__md__#{$i} {
				flex-basis: percentage($i / 12);
				flex-grow: 1;
				flex-shrink: 0;
				max-width: percentage($i / 12);
			}
			.rc_layout_md__offset__#{$i} {
				margin-left: percentage($i / 12);
			}
		}
		.rc_layout__md__offset__0 {
			margin-left: 0;
		}
	}
	@media screen and (min-width: $screen-lg-min) {
		@for $i from 1 through 12 {
			.rc_layout__lg__#{$i} {
				flex-basis: percentage($i / 12);
				flex-grow: 1;
				flex-shrink: 0;
				max-width: percentage($i / 12);
			}
			.rc_layout__lg__offset__#{$i} {
				margin-left: percentage($i / 12);
			}
		}
		.rc_layout__lg__offset__0 {
			margin-left: 0;
		}
	}
	@media screen and (min-width: $screen-xl-min) {
		@for $i from 1 through 12 {
			.rc_layout__xl__#{$i} {
				flex-basis: percentage($i / 12);
				flex-grow: 1;
				flex-shrink: 0;
				max-width: percentage($i / 12);
			}
			.rc_layout__xl__offset__#{$i} {
				margin-left: percentage($i / 12);
			}
		}
		.rc_layout__xl__offset__0 {
			margin-left: 0;
		}
	}
	.rc_layout__xs,
	.rc_layout__block {
		flex-basis: 0;
		flex-grow: 1;
	}
	.rc_layout__sm {
		@media screen and (min-width: $screen-sm-min) {
			flex-basis: 0;
			flex-grow: 1;
		}
	}
	.rc_layout__md {
		@media screen and (min-width: $screen-md-min) {
			flex-basis: 0;
			flex-grow: 1;
		}
	}
	.rc_layout__lg {
		@media screen and (min-width: $screen-lg-min) {
			flex-basis: 0;
			flex-grow: 1;
		}
	}
	.rc_layout__xl {
		@media screen and (min-width: $screen-xl-min) {
			flex-basis: 0;
			flex-grow: 1;
		}
	}
}

[rc_layout-reverse="true"],
[rc_layout-order="reverse"] {
	.rc_layout {
		flex-direction: row-reverse;
	}
}

[rc_layout-row="true"],
[rc_layout-order="false"],
[rc_layout-order="row"] {
	.rc_layout {
		flex-direction: row;
	}
}

[rc_layout-column="true"],
[rc_layout-order="column"] {
	.rc_layout {
		flex-direction: column;
	}
}

[rc_layout-unset="true"],
[rc_layout-order="unset"] {
	.rc_layout {
		flex-direction: unset;
	}
}

.rc_layout {
	&[rc_layout-reverse="true"],
	&[rc_layout-order="reverse"] {
		flex-direction: row-reverse;
	}
	&[rc_layout-row="true"],
	&[rc_layout-order="false"],
	&[rc_layout-order="row"] {
		flex-direction: row;
	}
	&[rc_layout-column="true"],
	&[rc_layout-order="column"] {
		flex-direction: column;
	}
	&[rc_layout-unset="true"],
	&[rc_layout-order="unset"] {
		flex-direction: unset;
	}
}

.rc_layout__container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-left: ($gutter / 2);
	padding-right: ($gutter / 2);

	.rc_layout {
		margin-left: -($gutter / 2);
		margin-right: -($gutter / 2);
	}
}

// Fix padding on columns outside of max scope of media-query width
.rc_layout {
	@media screen and (max-width: $screen-xs-max) {
		[class^="rc_layout__sm"] {
			padding-left: $gutter;
			padding-right: $gutter;
		}
	}
	@media screen and (max-width: $screen-sm-max) {
		[class^="rc_layout__md"] {
			padding-left: $gutter;
			padding-right: $gutter;
		}
	}
	@media screen and (max-width: $screen-md-max) {
		[class^="rc_layout__lg"] {
			padding-left: $gutter;
			padding-right: $gutter;
		}
	}
	@media screen and (max-width: $screen-lg-max) {
		[class^="rc_layout__xl"] {
			padding-left: $gutter;
			padding-right: $gutter;
		}
	}
	@media screen and (max-width: $mobile-nav-max) {
		[class^="rc_layout__sm"] {
			padding-left: $gutter / 2;
			padding-right: $gutter / 2;
		}
	}
}

/* Fixing the first and last-column padding */
.rc_layout {
	@media screen and (max-width: $screen-xs-max) {
		.rc_layout__xs__12 {
			padding-left: $gutter;
			padding-right: $gutter;
		}
	}
	@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		.rc_layout__sm__12 {
			padding-left: $gutter;
			padding-right: $gutter;
		}
	}
	@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		.rc_layout__md__12 {
			padding-left: $gutter;
			padding-right: $gutter;
		}
	}
	@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
		.rc_layout__lg__12 {
			padding-left: $gutter;
			padding-right: $gutter;
		}
	}
	@media screen and (min-width: $screen-xl-min) {
		.rc_layout__xl__12 {
			padding-left: $gutter;
			padding-right: $gutter;
		}
	}
	@media screen and (max-width: $mobile-nav-max) {
		.rc_layout__xs__12,
		.rc_layout__sm__12 {
			padding-left: $gutter / 2;
			padding-right: $gutter / 2;
		}
	}
}

.rc_layout {
	.rc_layout__full {
		padding-top: ($gutter - 5); // -5px to account for the header that will likely follow. This is a safe assumption
		padding-bottom: $gutter;
		padding-left: $gutter;
		padding-right: $gutter;
	}
	.rc_layout__sidebar {
		padding-top: ($gutter - 5); // -5px to account for the header that will likely follow. This is a safe assumption
		padding-bottom: $gutter;
		padding-left: $gutter;
		padding-right: ($gutter / 2);
	}
	.rc_layout__content {
		padding-top: ($gutter - 5); // -5px to account for the header that will likely follow. This is a safe assumption
		padding-bottom: $gutter;
		padding-right: $gutter;
		padding-left: ($gutter / 2);
	}
	@media screen and (max-width: $mobile-nav-max) {
		.rc_layout__sidebar,
		.rc_layout__content {
			padding-left: $gutter;
			padding-right: $gutter;
		}
		.rc_layout__sidebar {
			padding-bottom: 0;
		}
	}
	[class^="rc_layout__xs"],
	[class^="rc_layout__sm"],
	[class^="rc_layout__md"],
	[class^="rc_layout__lg"],
	[class^="rc_layout__xl"] {
		&:first-child {
			padding-left: $gutter;
		}
		&:last-child {
			padding-right: $gutter;
		}
	}
	.rc_layout {
		[class^="rc_layout__xs"],
		[class^="rc_layout__sm"],
		[class^="rc_layout__md"],
		[class^="rc_layout__lg"],
		[class^="rc_layout__xl"] {
			&:first-child {
				padding-left: ($gutter / 2);
			}
			&:last-child {
				padding-right: ($gutter / 2);
			}
		}
	}
}

.rc_layout__container[rc_layout-reverse="true"],
.rc_layout__container[rc_layout-order="reverse"] {
	.rc_layout {
		.rc_layout__sidebar {
			padding-left: ($gutter / 2);
			padding-right: $gutter;
		}
		.rc_layout__content {
			padding-right: ($gutter / 2);
			padding-left: $gutter;
		}
		@media screen and (max-width: $mobile-nav-max) {
			.rc_layout__sidebar,
			.rc_layout__content {
				padding-left: $gutter;
				padding-right: $gutter;
			}
		}
		[class^="rc_layout__xs"],
		[class^="rc_layout__sm"],
		[class^="rc_layout__md"],
		[class^="rc_layout__lg"],
		[class^="rc_layout__xl"] {
			&:first-child {
				padding-right: $gutter;
			}
			&:last-child {
				padding-left: $gutter;
			}
		}
		.rc_layout {
			[class^="rc_layout__xs"],
			[class^="rc_layout__sm"],
			[class^="rc_layout__md"],
			[class^="rc_layout__lg"],
			[class^="rc_layout__xl"] {
				&:first-child {
					padding-right: ($gutter / 2);
				}
				&:last-child {
					padding-left: ($gutter / 2);
				}
			}
		}
	}
}

.rc_layout__container[rc_layout-style="static"],
.rc_layout__container[rc_layout-static="true"] {
	margin-left: auto;
	margin-right: auto;
	@media screen and (max-width: $screen-xs-max) {
		max-width: 100%;
	}
	@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		max-width: $screen-sm-min;
	}
	@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		max-width: $screen-md-min;
	}
	@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
		max-width: $screen-lg-min;
	}
	@media screen and (min-width: $screen-xl-min) {
		max-width: $screen-xl-min;
	}
}

.rc_layout__container[rc_layout-style="seamless"],
.rc_layout__container[rc_layout-seamless="true"] {
	padding-left: 0;
	padding-right: 0;

	> .rc_layout {
		margin-left: 0;
		margin-right: 0;

		> .rc_layout__full,
		> .rc_layout__sidebar,
		> .rc_layout__content,
		> div[class^="rc_layout__xs"],
		> div[class^="rc_layout__sm"],
		> div[class^="rc_layout__md"],
		> div[class^="rc_layout__lg"],
		> div[class^="rc_layout__xl"] {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.rc_layout__container[rc_layout-max="xs"] {
	max-width: $screen-xs-max !important;
}

.rc_layout__container[rc_layout-max="sm"] {
	max-width: $screen-sm-max !important;
}

.rc_layout__container[rc_layout-max="md"] {
	max-width: $screen-md-max !important;
}

.rc_layout__container[rc_layout-max="lg"] {
	max-width: $screen-lg-max !important;
}

.rc_layout__container[rc_layout-anchor="left"] {
	margin-left: 0;
}

.rc_layout__container[rc_layout-anchor="right"] {
	margin-right: 0;
}

.rc_layout {
	.rc_layout__full,
	.rc_layout__sidebar,
	.rc_layout__content {
		flex-grow: 1;
		flex-shrink: 0;
	}
	.rc_layout__full {
		flex-basis: percentage(12 / 12);
		max-width: percentage(12 / 12);
	}
	.rc_layout__sidebar {
		@media screen and (max-width: $mobile-nav-max) {
			flex-basis: percentage(12 / 12);
			max-width: percentage(12 / 12);
		}
		@media screen and (min-width: $mobile-nav-max + 1) and (max-width: $screen-sm-max) {
			flex-basis: percentage(4 / 12);
			max-width: percentage(4 / 12);
		}
		@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
			flex-basis: percentage(3 / 12);
			max-width: percentage(3 / 12);
		}
		@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
			flex-basis: percentage(3 / 12);
			max-width: percentage(3 / 12);
		}
		@media screen and (min-width: $screen-xl-min) {
			flex-basis: percentage(2 / 12);
			max-width: percentage(2 / 12);
		}
	}
	.rc_layout__content {
		@media screen and (max-width: $mobile-nav-max) {
			flex-basis: percentage(12 / 12);
			max-width: percentage(12 / 12);
		}
		@media screen and (min-width: $mobile-nav-max + 1) and (max-width: $screen-sm-max) {
			flex-basis: percentage(8 / 12);
			max-width: percentage(8 / 12);
		}
		@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
			flex-basis: percentage(9 / 12);
			max-width: percentage(9 / 12);
		}
		@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
			flex-basis: percentage(9 / 12);
			max-width: percentage(9 / 12);
		}
		@media screen and (min-width: $screen-xl-min) {
			flex-basis: percentage(10 / 12);
			max-width: percentage(10 / 12);
		}
	}
}

.rc_layout__container[rc_layout-max="sm"],
.rc_layout__container[rc_layout-max="md"],
.rc_layout__container[rc_layout-max="lg"] {
	.rc_layout__sidebar {
		@media screen and (max-width: $mobile-nav-max) {
			flex-basis: percentage(12 / 12);
			max-width: percentage(12 / 12);
		}
		@media screen and (min-width: $mobile-nav-max + 1) {
			flex-basis: percentage(3 / 12);
			max-width: percentage(3 / 12);
		}
	}

	.rc_layout__content {
		@media screen and (max-width: $mobile-nav-max) {
			flex-basis: percentage(12 / 12);
			max-width: percentage(12 / 12);
		}
		@media screen and (min-width: $mobile-nav-max + 1) {
			flex-basis: percentage(8 / 12);
			max-width: percentage(8 / 12);
		}
	}
}

.rc_layout__container[rc_layout-max="md"],
.rc_layout__container[rc_layout-max="lg"] {
	.rc_layout__sidebar {
		@media screen and (min-width: $screen-md-min) {
			flex-basis: percentage(4 / 12);
			max-width: percentage(4 / 12);
		}
	}
	.rc_layout__content {
		@media screen and (min-width: $screen-md-min) {
			flex-basis: percentage(8 / 12);
			max-width: percentage(8 / 12);
		}
	}
}
.rc_layout__container[rc_layout-max="lg"] {
	.rc_layout__sidebar {
		@media screen and (min-width: $screen-lg-min) {
			flex-basis: percentage(3 / 12);
			max-width: percentage(3 / 12);
		}
	}
	.rc_layout__content {
		@media screen and (min-width: $screen-lg-min) {
			flex-basis: percentage(9 / 12);
			max-width: percentage(9 / 12);
		}
	}
}

.rc_layout--visible {
	&[rc_layout-order="reverse"] {
		div[class^="rc_layout__"] {
			+ div[class^="rc_layout__"] {
				@media screen and (min-width: $screen-sm-min) {
					border-right: 1px solid #fff;
					border-left: 0;
					&:last-child {
						border-left: 0 !important;
					}
				}
			}
		}
	}

	.rc_layout__layout {
		background-color: #6bddc3;

		> .rc_layout__full,
		> .rc_layout__sidebar,
		> .rc_layout__content,
		> div[class^="rc_layout__xs"],
		> div[class^="rc_layout__sm"],
		> div[class^="rc_layout__md"],
		> div[class^="rc_layout__lg"],
		> div[class^="rc_layout__xl"] {
			p {
				text-align: center;
				background-color: #bef0e5;
				padding-top: 5px;
				padding-bottom: 5px;
			}

			+ .rc_layout__full,
			+ .rc_layout__sidebar,
			+ .rc_layout__content,
			+ div[class^="rc_layout__xs"],
			+ div[class^="rc_layout__sm"],
			+ div[class^="rc_layout__md"],
			+ div[class^="rc_layout__lg"],
			+ div[class^="rc_layout__xl"] {
				border-left: 1px solid #FFF;
				overflow: hidden;
			}
		}
		+ .rc_layout__layout {
			border-top: 1px solid #FFF;
		}
	}
	+ .rc_layout--visible {
		border-top: 1px solid #FFF;
	}
}

.rc_layout__content {
	> .rc_layout__container {
		padding-left: 0;
		padding-right: 0;
	}
}

[rc_layout-padded="true"] {
	[class^="rc_layout__xs"],
	[class^="rc_layout__sm"],
	[class^="rc_layout__md"],
	[class^="rc_layout__lg"],
	[class^="rc_layout__xl"] {
		@media screen and (max-width: $mobile-nav-max) {
			margin-top: $gutter / 2;
			margin-bottom: $gutter / 2;
		}
	}

	.rc_layout {
		+ .rc_layout {
			@media screen and (min-width: $mobile-nav-max + 1) {
				margin-top: $gutter;
			}
		}
	}
}

// Minimal layouts with a sidebar will utilize this, such as the Partners page
.rc_layout__full-height {
	> .rc_layout__container {
		> .rc_layout__layout {
			> .rc_layout__sidebar {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}
}
@media screen and (min-width: $mobile-nav-max + 1) {
	.rc___full-height {
		height: 100%;

		> .rc_navbar {
			z-index: 1;
		}

		> .rc_navbar + .rc_layout__container {
			margin-top: -61px;
			padding-top: 61px;
			z-index: 0;
		}

		> .rc_layout__container {
			height: 100%;

			> .rc_layout {
				min-height: 100%;

				> .rc_layout__sidebar {
					padding-top: 0;
					padding-bottom: 0;
				}
			}
		}
	}
}

// A fix for notification-enabled pages with a supposed full-height
.rc_layout__full-height > .rc_notification + .rc_layout__container {
    height: auto;
}