@import 'inputs/_label.scss';
@import 'inputs/_text.scss';

@import 'inputs/_checkbox.scss';
@import 'inputs/_radio.scss';

@import 'inputs/_select.scss';

@import 'inputs/_number.scss';

p.has_error {
     color: $color-red;
     font-size: 14px;
     margin-top: -26px;
     padding-left: 10px;
 
     &:after {
 	    position: relative;
 	    font-family: 'fontawesome', arial, sans-serif;
 	    font-size: 20px;
     	content: "\f071";
 	    float: right;
 	    top: -35px;
     	right: 10px;
     	background-color: $color-white;
     }
 }
 
 // Temporary styles until we update the form design in each page
 .input_layout {
 	& .has_error {
 	    margin-top: -8px;
 	    text-align: left;
     }
 }