
ul{
	margin: 0;
	padding: 0;
}
ul,
li {
	&.list-unstyled {
		list-style-type: none;
	}
}

.nav {
	list-style-type: none;
}

ul,
ol {
	> li {
		&.divider {
			list-style: none;
		}
	}
}

ol {
	list-style-position: inside;
	list-style-type: decimal;
	li {
		// line-height: 1em;
		+ li {
			// margin-top: 1em;
		}
	}
}

.rc_list_items{

	li{ 
		position: relative;
		padding-left: 25px;

		&:before{
			content: "\f00c";
		    font-family: fontawesome;
		    font-size: 16px;
		    color: #424242;
		    position: absolute;
		    top: 0;
		    left: 0;
	    }

	    &.rc_green_tick:before {
	    	color: $green_bright;
	    }
	    &.rc_magenta_tick:before{
			content: "\f00d";
		    font-family: fontawesome;
	    	color: $magenta;

	    }
	}
}