ul {
	margin: 0;
	padding: 0;
}

ul,
ol {
	&.rc_nav,
	&.rc_list-unstyled {
		&,
		& li {
			list-style: none;
		}
	}
}

ul,
	&,
	& li {
		list-style-type: none;
	}
}

ol {
	list-style-position: inside;
	list-style-type: decimal;
}

li.rc_divider {
	list-style: none;
}

.rc_list_items {
	li {
		position: relative;
		padding-left: 25px;

		&:before {
			font-family: fontawesome;
			font-size: 16px;
			color: $color-grey-dark;
			position: absolute;
			top: 0;
			left: 0;
		}

		&.rc_tick_ok:before {
			content: "\f00c";
			color: $color-green;
		}

		&.rc_tick_wrong:before {
			content: "\f00d";
			color: $color-magenta;
		}
	}
}