
ul{
	margin: 0;
	padding: 0;
}
ul,
li {
	&.list-unstyled {
		list-style-type: none;
	}
}

.nav {
	list-style-type: none;
}

ul,
ol {
	> li {
		&.divider {
			list-style: none;
		}
	}
}

ol {
	list-style-position: inside;
	list-style-type: decimal;
	li {
		// line-height: 1em;
		+ li {
			// margin-top: 1em;
		}
	}
}