
html {
    -webkit-font-smoothing: antialiased;
}

h1, .h1 {
	font-size: $h1-font-size;
	font-weight: $font-semibold;
	line-height: 48px;
	margin-bottom: 10px;
}

h2, .h2 {
	font-size: $h2-font-size;
	font-weight: $font-semibold;
	line-height: 36px;
	letter-spacing: -.25px;
	margin-bottom: 10px;
}
h3, .h3 {
	font-size: $h3-font-size;
	font-weight: $font-semibold;
	line-height: 32px;
	letter-spacing: -.25px;
	margin-bottom: 10px;
}

h4, .h4 {
	font-size: $h4-font-size;
	font-weight: $font-semibold;
	line-height: 24px;
	margin-bottom: 10px;
}
h5, .h5 {
	font-size: $h5-font-size;
	font-weight: $font-semibold;
	margin-bottom: 10px;
}

body {
	font-family: 'Raleway', arial, san-serif;
	font-weight: $font-regular;
	font-size: $font-size-base;
	line-height: 25px;
	color: $rc_grey_dark;	
}

a {
	text-decoration: none;
}

p {
	margin-top: 0;
	margin-bottom: 0;
    line-height: 25px;
}

p + p {
	margin-top: 18px;
}

strong {
	font-weight: normal;
	font-family: 'ralewaysemibold', arial, sans-serif;
}

.rc{
	&_small_copy{
		font-weight: $font-regular;
		font-size: $font-size-small;
		line-height: 18px;	
	}

	&_caption{
		font-weight: $font-semibold;
		font-size: $font-size-extra-small;
		line-height: 18px;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: $rc_grey_medium;
	}

	&_link{
		font-weight: $font-semibold;
		color: $rc_blue;

		&.color_rc_white{
			text-decoration: underline;
		}
	}
}
