//
// Name: Variables
// Description: Definition of the colors used, basic font sizes and the values for the grid system.
// Version: 1.0
// Date: 08.18.2017
// Author: Diego Bechi
//

// Primary (Brand) Colors
$color-blue:  #53BAD3 !default;
$color-white: #FFFFFF !default;
$color-green: #4DD6B7 !default;

$color-blue-rgba: rgba(83, 186, 211, .25) !default;
$color-black-shadows: rgba(0,0,0,0.1) !default;

// Secondary Colors
$color-green-bright:  #17CC9D !default;
$color-green-pale:    #BDF0E4 !default;
$color-turquoise:     #2C93AC !default;
$color-blue-dark:     #004E82 !default;
$color-magenta:       #C00399 !default;
$color-magenta-hover: #AC0289 !default;
$color-black:         #000000 !default;
$color-grey-dark:     #424242 !default;
$color-grey: 	 	  #676767 !default;
$color-grey-medium:   #8E8F8E !default;
$color-grey-light:    #CCCCCC !default;
$color-grey-silver:   #EEEEEE !default;

// Tertiary Colors
$color-yellow: #FFF155 !default;
$color-orange: #FB8309 !default;
$color-red:    #EC3D10 !default;
$color-pink:   #D06EAB !default;

// Basic Fonts Sizes
$font-size-extra-small: 12px !default;
$font-size-small: 		14px !default;
$font-size-base:  		16px !default;
$font-size-large: 		24px !default;

// Basic Fonts Weight
$font-thin:     100 !default;
$font-regular:  400 !default;
$font-medium:   500 !default;
$font-semibold: 600 !default;
$font-bold:     700 !default;
$font-black:    900 !default;

// Head Tag Sizes
$h1-font-size: 42px !default;
$h2-font-size: 28px !default;
$h3-font-size: 24px !default;
$h4-font-size: 20px !default;
$h5-font-size: 16px !default;

// Navbar Basic Styles
$navbar-font-size:         16px !default;
$navbar-height:            43px !default;
$navbar-brand-height:      39px !default;
$navbar-brand-width:       149px !default;
$navbar-background:        $color-white !default;
$navbar-color:             $color-grey-dark !default;
$navbar-active-color:      $color-blue !default;
$navbar-active-background: $color-blue-rgba !default;
$navbar-option-height:	   43px !default;

// Dropdown
$dropdown-color: 			$color-grey-dark !default;
$dropdown-color-hover: 		$color-blue !default;
$dropdown-background: 		$color-white !default;
$dropdown-background-hover: $color-blue-rgba !default;
$dropdown-divider: 			$color-white !default;
$dropdown-height: 			48px !default;
$dropdown-width: 			176px !default;

// Input style
$input-disabled-background: #F9F9F9 !default;
$input-disabled-border: #CCC !default;
$input-disabled-color: #999 !default;
$cursor-disabled: not-allowed;
$input-border: #5C5C5C;

// Responsive Values
$screen-xs-max: 575px !default;
$screen-sm-min: 576px !default;
$screen-sm-max: 767px !default;
$screen-md-min: 768px !default;
$screen-md-max: 991px !default;
$screen-lg-min: 992px !default;
$screen-lg-max: 1199px !default;
$screen-xl-min: 1200px !default;

$gutter: 28px !default;
$mobile-nav-max: $screen-sm-max !default;

// ZIndex Values
$zindex-base:			   100000 !default;
$zindex-tooltip:           $zindex-base + 30 !default;
$zindex-popover:           $zindex-base + 40 !default;
$zindex-dropdown:          $zindex-base + 50 !default;
$zindex-navbar:            $zindex-base + 60 !default;
$zindex-navbar-fixed:      $zindex-base + 70 !default;
$zindex-modal-background:  $zindex-base + 80 !default;
$zindex-modal:             $zindex-base + 90 !default;

// Buttons
$button-color: 			$color-white !default;
$button-bg-color:       $color-blue !default;
$button-bg-hover-color: $color-blue !default;
$button-color-disabled: $color-white !default;
$button-bg-disabled:    $color-grey-light !default;

$button-primary-color: 			$color-white !default;
$button-primary-hover-color: 	$color-white !default;
$button-primary-bg-color: 		$color-blue !default;
$button-primary-bg-hover-color: #2DA4C2 !default;

$button-secondary-color: 		  $color-blue !default;
$button-secondary-hover-color: 	  $color-white !default;
$button-secondary-bg-color: 	  transparent !default;
$button-secondary-bg-hover-color: $color-blue !default;

$button-secondary-reverse-color: 		  $color-white !default;
$button-secondary-reverse-hover-color: 	  $color-blue !default;
$button-secondary-reverse-bg-color: 	  $color-blue !default;
$button-secondary-reverse-bg-hover-color: $color-white !default;

$button-padding: 20px 60px !default;

// Dropdowns
$dropdown-color: 			$color-green-pale !default;
$dropdown-hover-color: 		$color-white !default;
$dropdown-bg-color:			$color-white !default;
$dropdown-bg-hover-color:	$color-green-pale !default;
$dropdown-border-color:		$color-green-pale !default;
$dropdown-width:			419px !default;
$dropdown-min_width: 		240px !default;
$dropdown-height:			40px !default;
$dropdown-num_width:		65px !default;

$dropdown-link-color: 			$color-white !default;
$dropdown-link-hover_color:  	$color-white !default;
$dropdown-link-hover_bg: 		$color-black !default;
$dropdown-link-active-color: 	$color-white !default;
$dropdown-link-active-bg: 		$color-black !default;
$dropdown-link-disabled-color: 	#888 !default;
$dropdown-link-disabled-bg: 	#333 !default;
$dropdown-font_weight: 			700 !default;
$dropdown-link-font-weight: 	400 !default;
$dropdown-margin-top: 			0 !default;
$dropdown-padding-y: 			0 !default;
$dropdown-divider-bg: 			$color-white !default;
$dropdown-item-padding-y: 		12px !default;
$dropdown-item-padding-x: 		15px !default;
$dropdown-header-color: 		#C00 !default;

// Cursors
$cursor-disabled: 	not-allowed !default;
$cursor-hover: 		pointer !default;
$cursor-normal: 	inerith !default;

// Status
$status-primary: 	$color-green !default;
$status-success: 	$color-green !default;
$status-danger: 	$color-red !default;
$status-info: 		$color-blue !default;
$status-disabled: 	$color-grey-light !default;