@import '_variables.scss';
@import '_mixins.scss';

@import '_normalize.scss';
@import '_fonts.scss';
@import '_typography.scss';

@import '_grid.scss';
@import '_lists.scss';

@import 'styleguide.scss';

.container{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

.rc_shadow{
	
	&_level1{
		-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
	}
	&_level2{
		-webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
	}
	&_level3{
		-webkit-box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.1);
	}
	&_level4{
		-webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);
	}
	&_level5{
		-webkit-box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.1);
		box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.1);
	}
}