.rc_sg{
	background-color: #F4F4F4;
	
	&__navbar{
		background-color: $white;
		padding: 20px 0;

		& img{
			height: 34px;
			vertical-align: middle;

		}
		h1{
			color: $rc_grey;
			font-size: 18px;
			line-height: 20px;
			display:inline-block;
			margin: 0px;
			vertical-align: middle;
			margin-left: 20px;
		}
	}

	&__container{

		& .container{
			margin-top: 70px;
		}
		
		&__menu{
			ul{
				max-width: 260px;
			}
			
			li{
				padding: 15px 0px;
				padding-left: 30px;

				a{
					color: $grey_dark;
					font-size: $font-size-base;
				}

			}
			li:hover{
				background-color: $grey_silver;
			}
		}
	}

	&__pagedetails{


	}

	&_section{
		& .typography_example{

			&_item{
				max-width: 309px;
				width: 100%;
				display:inline-block;
				text-align: center;
				padding: 34px;

				&.light_example{
					color: $grey_dark;
					background-color: $white;
				}
				&.dark_example{
					color: $white;
					background-color: $rc_blue;
					& .circle{
						background-color: $white;
					}
				}
			}
		}

		& .circle{
			height: 80px;
			width: 80px;
			border-radius: 50%;
			background-color: $grey_dark;
			margin: 0 auto;
			margin-bottom: 22px;
		}

		& .rc_sg_shadow_example{

			div {display: inline-block;}

			&_item{
				height: 150px;
				width: 150px;
				background-color: $white;
				text-align: center;
				line-height: 150px;
				margin: 15px;
			}
		}
	}

	
}