/* The primary layout of the large banner at the top of our page */
.rc_section--hero {
	margin-top: 34px;

	.rc_content {
		max-width: 323px;
	}

	h1 {
		font-size: 36px;
		line-height: 44px;
		margin-bottom: 16px;
		font-weight: 400;
	}

	p {
		max-width: 260px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
	}

	.rc_button {
		margin: 9px 17.5px;
	}

	@media screen and (min-width: $screen-sm-min) {
		margin-top: 97px;

		.rc_content {
			max-width: 550px;
		}

		h1 {
			font-size: 42px;
			line-height: 49px;
			margin-bottom: 25px;

			strong {
				font-weight: 700;
			}
		}

		p {
			max-width: 947px;
			font-size: 18px;
			line-height: 28px;
			margin-bottom: 47px;
		}
	}
	@media screen and (min-width: $screen-lg-min) {
		.rc_content {
			margin-top: 97px + 78px; /* Standard margin-top, plus the height of the navbar */
			max-width: 947px;
		}
	}
}

/* These are the graphics that make up the banner */
.parallax_image {
	position: absolute;
}

.parallax_image img {
	width: 100%;
	height: auto;
}

.parallax_container {
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	width: 100%;
	max-width: 2880px;
	height: 1472px;
	top: 0;
	left: 0;
	z-index: -1;
}

.parallax_banner {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1440px;
	height: 736px;
}

/* Each image is precisely positioned seperately, so they can be animated with javascript */
#box {
	z-index: 1;
	left: 50%;
	width: (499px / 2);
	height: (418px / 2);
	margin-left: -205px;
	top: 515px;

	@media screen and (min-width: $screen-sm-min) {
		width: 499px;
		height: 418px;
		top: 476px;
		margin-left: -500px;
	}

	@media screen and (min-width: $screen-lg-min) {
		top: 376px;
		margin-left: -640px;
	}
}

#plant {
	z-index: 2;
	left: 50%;
	width: (250px / 2);
	height: (208px / 2);
	margin-left: -260px;
	top: 395px;

	@media screen and (min-width: $screen-sm-min) {
		width: 250px;
		height: 208px;
		top: 257.5px;
		margin-left: -580px;
	}

	@media screen and (min-width: $screen-lg-min) {
		margin-left: -793px;
	}
}

#iphone {
	z-index: 3;
	right: 50%;
	width: (196px / 2);
	height: (269px / 2);
	top: 508px;
	margin-right: -220px;
	
	@media screen and (min-width: $screen-sm-min) {
		width: 196px;
		height: 269px;
		top: 361.5px;
		margin-right: -480px;
	}

	@media screen and (min-width: $screen-lg-min) {
		top: 261.5px;
		margin-right: -611px;
	}
}

#clip {
	z-index: 4;
	right: 50%;
	width: (58px / 2);
	height: (43px / 2);
	top: 452px;
	margin-right: -200px;
	
	@media screen and (min-width: $screen-sm-min) {
		width: 58px;
		height: 43px;
		top: 300px;
		margin-right: -456px;
	}
	@media screen and (min-width: $screen-lg-min) {
		top: 332px;
		margin-right: -656px;
	}
}
