$checkboxBackgroundColor: $color-grey-dark;

.rc_form__checkbox {
	display: none;

	+ .rc_form__label {
		cursor: pointer;
		margin-bottom: 0;

		+ .rc_form__checkbox + .rc_form__label {
			margin-top: 20px;
		}

		&:after {
			display: table;
			content: "";
			// margin: 10px 0;
		}

		&:before {
			width: 16px;
			height: 16px;
			content: "";
			display: inline-block;
			box-sizing: border-box;
			background-color: $color-white;

			margin-right: 9px;

			line-height: 16px;
			text-indent: 1px;
			font-size: 11px;

			color: #FFF;
			font-family: fontawesome;

			border: 1px solid $input-border;

			vertical-align: middle;
			position: relative;
			top: -2px;
		}
	}
}

.rc_form__checkbox {
	&.rc_error {
		+ .rc_form__label {
			color: $color-red;

			&:before {
				border-color: $color-red;
			}
		}

		&:checked,
		&.rc_checked {
			+ .rc_form__label {
				&:before {
					background-color: $color-red;
				}
			}
		}
	}
}

.rc_form__group {
	.rc_form__checkbox:first-of-type {
		+ .rc_form__label {
			// margin-top: 6px; // Make adjustments to spacing above radio and checkbox buttons in form groups, so it matches better with other elements in form groups
		}
	}
}

.rc_form__checkbox {
	&:checked,
	&.rc_checked {
		+ .rc_form__label {
			&:before {
				content: "\f00c";
				background-color: $checkboxBackgroundColor;
			}
		}
	}
}

.rc_form__checkbox {
	&:disabled,
	&.rc_disabled {
		+ .rc_form__label {
			&:before {
				content: "\f068";
				color: $input-disabled-color;
				text-indent: 3px;
				border-color: $input-disabled-border;
			}
		}

		&:checked,
		&.rc_checked {
			+ .rc_form__label {
				&:before {
					content: "\f00c";
					color: $input-disabled-color;
					background-color: $input-disabled-background;
					text-indent: 1px;
				}
			}
		}
	}
}