$checkboxBackgroundColor: $color-grey-dark;

.rc_form__radio {
	display: none;
	
	&_info{
		margin-left: 30px;
	}

	+ .rc_form__label {
		cursor: pointer;
		margin-bottom: 0;
		display: block;
		margin-left: 5px;

		+ .rc_form__radio + .rc_form__label {
			margin-top: 20px;
		}

		&:after {
			display: table;
			content: "";
			clear: both;
		}

		&:before {
			width: 16px;
			height: 16px;
			content: "";
			display: inline-block;
			box-sizing: border-box;
			background-color: $color-white;

			margin-right: 9px;

			line-height: 16px;
			text-indent: 1px;
			font-size: 11px;

			color: $color-white;
			font-family: fontawesome;

			border: 1px solid $checkboxBackgroundColor;

			vertical-align: middle;
			position: relative;
			top: -2px;
		}
	}
}

.form__radio,
.rc_form__radio {
	+ label,
	+ .form__radio__label,
	+ .rc_form__radio__label {
		&:before {
			border-radius: 50%;
		}
	}
}

.form__radio,
.rc_form__radio {
	&.error,
	&.rc_error {
		+ .form__label,
		+ .rc_form__label {
			color: $color-red;
			&:before {
				border-color: $color-red;
			}
		}
		&:checked,
		&.checked,
		&.rc_checked {
			+ .form__label,
			+ .rc_form__label {
				&:before {
					background-color: $color-red;
				}
			}
		}
	}
}

.form__group,
.rc_form__group {
	.form__radio:first-of-type,
	.rc_form__radio:first-of-type {
		+ .form__label,
		+ .rc_form__label {
			// margin-top: 6px; // Make adjustments to spacing above radio and checkbox buttons in form groups, so it matches better with other elements in form groups
		}
	}
}

.form__radio,
.rc_form__radio {
	&:checked,
	&.checked {

		+ .form__label,
		+ .rc_form__label {
			&:before {
				content: "\f00c";
				background-color: $checkboxBackgroundColor;
			}
		}
	}
}


.inputs-inline{
	& .rc_form__label{
		display: inline-block;
	}
}


.form__radio,
.rc_form__radio {
	&:disabled,
	&.disabled,
	&.rc_disabled {
		+ .form__label,
		+ .rc_form__label {
			&:before {
				content: "\f068";
				color: $input-disabled-color;
				text-indent: 3px;
				border-color: $input-disabled-border;
			}
		}
		&:checked,
		&.checked,
		&.rc_checked {
			+ .form__label,
			+ .rc_form__label {
				&:before {
					content: "\f00c";
					color: $input-disabled-color;
					background-color: $input-disabled-background;
					text-indent: 1px;
				}
			}
		}
	}
}
