.rc_logo {
  width: 200px;
  height: 50px; }
  .rc_logo_white {
    background-image: url("../images/logos/rc_logo_white.png"); }
  .rc_logo_main {
    background-image: url("../images/logos/rc_logo.png"); }

.rc_icon {
  width: 80px;
  height: 95px; }
  .rc_icon_blue {
    background-image: url("../images/logos/rc_icon_blue.png"); }
  .rc_icon_black {
    background-image: url("../images/logos/rc_icon_black.png"); }
  .rc_icon_grey {
    background-image: url("../images/logos/rc_icon_grey.png"); }
