.sg {
  background-color: #F8F8F8; }
  .sg__navbar {
    background-color: #FFFFFF;
    padding: 20px 0; }
    .sg__navbar img {
      height: 34px;
      vertical-align: middle; }
    .sg__navbar h1 {
      color: #676767;
      font-size: 18px;
      line-height: 20px;
      display: inline-block;
      margin: 0px;
      vertical-align: middle;
      margin-left: 20px; }
    .sg__navbar #mobile_logo {
      display: none; }
    .sg__navbar .mobile-menu-icon {
      display: none;
      font-family: Fontawesome;
      float: right;
      font-size: 24px;
      line-height: 37px;
      cursor: pointer; }
    @media screen and (max-width: 767px) {
      .sg__navbar #mobile_logo,
      .sg__navbar .mobile-menu-icon {
        display: inline-block; }
      .sg__navbar #desktop_logo {
        display: none; } }
  .sg__container .rc_layout__container {
    margin-top: 70px;
    margin-bottom: 100px; }
  .sg__container__menu ul {
    max-width: 260px; }
  .sg__container__menu li {
    padding: 15px 0px;
    padding-left: 30px; }
    .sg__container__menu li a {
      color: #424242;
      font-size: 16px; }
  .sg__container__menu li:hover {
    background-color: #EEEEEE; }
  .sg__container .sg_typography_section,
  .sg__container .sg_colors_section,
  .sg__container .sg_shadow_section,
  .sg__container .sg_visual-elements_section,
  .sg__container .sg_logo-usage_section,
  .sg__container .sg_buttons_links_section,
  .sg__container .sg_form-elements_section {
    margin-top: 60px;
    margin-bottom: 0; }
  .sg__container .sg_logo-usage_section h3 {
    margin-bottom: 30px; }
  .sg_page_header h2 {
    margin-bottom: 40px; }
  .sg_link p.rc_bg_blue {
    padding: 15px;
    margin: 20px 0; }
  .sg_section.sg_shadow_section h3 {
    margin-bottom: 20px; }
  .sg_section .typography_example {
    margin-top: 60px; }
    .sg_section .typography_example_item {
      max-width: 310px;
      width: 100%;
      display: inline-block;
      text-align: center;
      padding: 34px;
      margin-right: 40px;
      margin-bottom: 40px; }
      .sg_section .typography_example_item.rc_bg_white .circle {
        background-color: #424242;
        max-width: 74px;
        max-height: 74px; }
      .sg_section .typography_example_item.rc_bg_blue .circle {
        background-color: #FFFFFF;
        max-width: 74px;
        max-height: 74px; }
  .sg_section .circle {
    height: 96px;
    line-height: 96px;
    width: 96px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 14px; }
  .sg_section .sg_shadow_example div {
    display: inline-block;
    margin-top: 50px; }
  .sg_section .sg_shadow_example div:not(:last-child) {
    margin-right: 25px; }
  .sg_section .sg_shadow_example_item {
    height: 145px;
    width: 145px;
    background-color: #FFFFFF;
    text-align: center;
    line-height: 145px; }
  .sg_section.sg_visual-elements_section img {
    width: 100%; }
  .sg_section.sg_visual-elements_section .rc_illustration img,
  .sg_section.sg_visual-elements_section .rc_banner {
    margin-top: 50px; }
  .sg_section.sg_buttons_links_section button {
    margin: 20px 20px 20px 0; }
  .sg_section.sg_buttons_links_section .rc_caption {
    margin-bottom: 20px; }
  .sg_full_logo {
    margin-top: 30px; }
    .sg_full_logo div:not(:last-child) {
      margin-right: 30px; }
    .sg_full_logo_container {
      display: inline-block;
      margin-top: 20px; }
      .sg_full_logo_container_item {
        width: 100%;
        max-width: 357px;
        text-align: center; }
        .sg_full_logo_container_item img {
          width: 100%;
          position: relative;
          padding: 45px 75px; }
        .sg_full_logo_container_item.light_photo_bg {
          background-image: url("../images/logos/photo_light.png");
          background-size: 100% 100%; }
        .sg_full_logo_container_item.dark_photo_bg {
          background-image: url("../images/logos/photo_dark.png");
          background-size: 100% 100%; }
  .sg_icon_logo {
    margin-top: 50px; }
    .sg_icon_logo div.sg_icon_logo_container:not(:last-child) {
      margin-right: 26px; }
    .sg_icon_logo_container {
      display: inline-block; }
      .sg_icon_logo_container_item {
        width: 100%;
        max-width: 194px;
        text-align: center; }
        .sg_icon_logo_container_item img {
          width: 100%;
          position: relative;
          height: auto;
          padding: 50px 55px; }
  .sg_button_secondary_reverse {
    border: 5px solid #53BAD3; }
  .sg .sg_colors_pallete {
    margin: 18px 0; }
  .sg_color-container {
    max-width: 96px;
    height: 129px;
    display: inline-block;
    margin: 20px 26px 35px 0px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    vertical-align: middle; }
    .sg_color-container label {
      display: inline-block;
      vertical-align: middle;
      line-height: normal; }
  .sg_grids_section .rc_layout__container {
    background-image: url("../images/styleguide/grid_bg.png");
    background-repeat: repeat;
    background-position: 0 0; }
  .sg_grids_section .rc_layout {
    opacity: .915;
    margin-right: -15px; }
  .sg_grids_section .rc_layout__sm__1 {
    background-color: #eeeeee;
    border-left: 11px solid #f6f6f6;
    border-right: 11px solid #f6f6f6;
    padding: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
    height: 800px;
    text-align: center; }
