/* Developers section, including revenue counter */
.rc_section--developers {
	margin-top: 158px;

	.rc_content {
		max-width: 413px;

		@media screen and (min-width: $screen-sm-min) {
			margin-left: 15px;
		}
	}

	.rc_content__container {
		order: 2;

		@media screen and (min-width: $screen-md-min) {
			order: 1;
		}
	}

	.rc_media__container {
		text-align: right;
		background-image: url('../videos/developers-bg.png');
		background-size: 71%;
		background-position: 0 88px;
		background-repeat: no-repeat;

		order: 1;

		@media screen and (min-width: $screen-md-min) {
			margin-right: -8px;
			padding-top: 28px;
			order: 2;
		}
	}

	.revenue_stats {
		background-color: #ca0093;
		color: #FFF;
		border-radius: 6px;
		box-shadow: 0 8px 60px rgba(0, 0, 0, .16);
		text-align: center;
		width: 168px;
		height: 100px;
		font-size: 13px;
		line-height: 15px;
		padding: 24px;

		position: absolute;
		top: 0;
		right: 0;

		@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			left: 30px;
		}

		@media screen and (min-width: $screen-lg-min) {
			top: 230px;
		}
	}

	#revenue_stats__dollars {
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 4px;

		&:before {
			content: "$";
		}
	}
}